body,
html {
    font-family: 'Aptos';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
}

.logo {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.contents {
    padding: 40px 10%;
    align-items: center;
    padding-bottom: 10%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.main-text {
    flex: 1;
    margin-right: 20px;
    font-size: 2.5vw
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.place-holder {
    max-width: 60%;
    height: auto;
}

.work-box {
    display: flex;
    align-items: center;
    transition: all .35s;
}

.work-text {
    padding: 4%;
}

.work-text p {
    color: #000;
    font-size: 1vw;
}

.work-box h3 {
    color: #000;
    font-size: 1.5vw;
}

.work-box h4 {
    color: #00e;
    font-size: 1vw;
}

.work-text a {
    text-decoration: none;
    font-size: 1vw;
}

.work-photo img {
    width: 10vw;
    padding: 4%;
}

.work-box:hover {
    transform: scale(1.02);
    transition: all .5s;
}

.footer-section-de,
.footer-section-en {
    display: flex;
    background-color: black;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-rechts {
    color: white;
    text-align: end;
}


.back-top a {
    color: white;
    text-decoration: none;
}

.mobilenavbar,
.mobile-menu,
.ty {
    display: none;
}

/* Mobile-Optimierung */
@media (max-width: 768px) {
    .contents {
        padding: 0;
    }

    .work-photo{
        justify-content: baseline;
    }

    .ty {
        display: block;
        text-align: center;
        color: white;
        font-size:small;
    }

    .back-top {
        display: none;
    }

    .footer-section-de,
    .footer-section-en {
        padding: 4%;
    }

    .footer-rechts {
        max-width: 40%;
        font-size: small;
    }

    .footer-links{
        font-size: small;
    }

    .navbar {
        display: none;
    }

    .mobilenavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .burger-menu {
        font-size: 2rem;
        cursor: pointer;
        display: block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #cccc;
        align-items: center;
    }

    .mobile-menu a {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .mobile-menu button {
        margin: 15px;
    }

    .mobile-menu.open {
        display: flex;
    }

    .main-section {
        flex-direction: column;
        text-align: center;
    }

    .work-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main-text {
        width: 80%;
        font-size: xx-large;
        margin: 0;
        margin-bottom: 40%;
    }

    .sidebar {
        align-items: center;
        margin-bottom: 40%;
    }

    .work-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 28vw;
        max-width: 80%;
    }

    .work-photo img {
        width: 60%;
        padding: 0;
        margin-bottom: 10px;
    }

    .work-text {
        padding: 0;
    }

    .work-box h3 {
        font-size: 4vw;
    }

    .work-box h4 {
        font-size: 3.5vw;
    }

    .work-text p {
        font-size: 3.5vw;
    }

    .work-text .highlighted-text {
        display: block;
        margin-top: 2vw;
    }

    .work-text a {
        font-size: 3.5vw;
        
    }

    .work-text .learn-more {
        display: none;
    }
}